.chatContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Fira Sans', sans-serif;
    .innerContainer {
        width: 500px;
        background-color: white;
        padding: 20px 20px 20px 20px;
        box-sizing: border-box;
        border-style: solid;
        border-width: 20px 10px 20px 10px;
        border-radius: 5%;
        border-color: #e7ba82;
        .chatName {
            font-weight: bolder;
            padding-top: 10px;
        }
    }
}

.inputBackground {
    background-color: #96cbd2;
    width: 500px;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .messageTitle {
        color: white;
        font-weight: bolder;
        font-size: 30px;
        letter-spacing: 2px;
        padding-bottom: 10px;
    }
    input.chatInput {
        display: block;
        margin: 5px 0px 2px 0px;
        width: 100%;
        height: 30px;
        border-radius: 4px;
        border: solid 1px #c6c6c6;
        background-color: white;
        padding: 5px 5px 5px 5px;
        margin-bottom: 10px;
    }
    .submitBtn {
        font-size: 14px;
        text-align: center;
        background-color: #e7ba82;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 10px 10px 10px 10px;
        width: 100%;
        transition: background-color .5s ease;
    }
    .submitBtn:hover {
        background-color: #d9a461;
    }
}