@mixin photo-section-home {
    display: flex;
    height: 100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    text-shadow: 0px 3px 6.51px rgba(40, 32, 29, 0.65);
}

@mixin font-style {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 2px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60vh 5vh 40vh 5vh 60vh 20vh;

  }

  .firstSection {
    @include photo-section-home;
    @include font-style;
    grid-column: 1/2;
    background-image: url("../images/home/building.png");
    grid-row: 1/3;
    h1 {
        margin: 0px 40px 0px 40px;
    }
  }

  .secondSection {
    grid-column: 1/2;
    background-color: #e7ba82;
    grid-row: 3/4;
  }

  .secondSectionOverlap {
    z-index: 1;
    grid-column: 1/2;
    grid-row: 2/5;
    background-color: white;
    margin: 0px 40px 0px 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include font-style;
  }


  .thirdSection {
    display: flex;
    height: 100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    @include font-style;
    grid-column: 1/2;
    background-image: url("../images/home/building.png");
    grid-row: 4/6;
    h2 {
        margin: 0px 40px 0px 40px;
        text-shadow: 0px 3px 6.51px rgb(40 32 29 / 100%);
    }
  }

  .fourthSection{
    @include font-style;
    grid-column: 1/2;
    background-color: #96cbd2;
    grid-row: 6/7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }