.signupLoginBody {
    background-color: #f4f4f4;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: #161616;
    font-size: 12px;
    h1 {
        font-weight: 300;
        font-size: 35px;
    }
    .signupLogin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input.textInput {
            display: block;
            margin: 5px 0px 2px 0px;
            width: 100%;
            height: 30px;
            border-radius: 4px;
            border: solid 1px #c6c6c6;
            background-color: white;
            padding: 5px 5px 5px 5px;
            
        }
        .signupLoginForm {
            width: 100vw;
            max-width: 362px;
            background-color: white;
            padding: 30px 40px 30px 40px;
            box-sizing: border-box;
            border-radius: 10px;
        }
        .passwordForm {
            margin-top: 12px;
        }
        .submitButton {
            font-size: 14px;
            text-align: center;
            background-color: #96cbd2;
            color: white;
            border: none;
            border-radius: 20px;
            padding: 10px 10px 10px 10px;
            width: 60%;
            transition: background-color .5s ease;
        }
        .submitButton:hover {
            background-color: #7cb1c5;
        }
        .centerSubmitButton {
            text-align: center;
        }
    }
}