body {
  background-color: #f4f4f4;
}

.allQuizzes {
  margin-top: 20px;
  font-family: Arial;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allQuizzes .quizNames {
  background-color: #00FF00;
  max-width: 100%;
  min-width: 50%;
}

.allQuizzes .quizNames a {
  width: 100%;
  display: inline-block;
  color: #161616;
  text-decoration: none;
}

.allQuizzes .quizNames a .quizLink {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 20px 20px 20px;
}

.allQuizzes .quizNames .quizLinks {
  -webkit-box-shadow: 0px 3px 4.85px 0.15px rgba(36, 45, 59, 0.1);
          box-shadow: 0px 3px 4.85px 0.15px rgba(36, 45, 59, 0.1);
}

.allQuizzes .quizNames .quizLinks:nth-child(even) {
  border-radius: 10%;
  background-color: #FFDD3C;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.allQuizzes .quizNames .quizLinks:nth-child(even):hover {
  border-radius: 10%;
  background-color: #00FF00;
}

.allQuizzes .quizNames .quizLinks:nth-child(odd) {
  border-radius: 10%;
  background-color: #FFDD3C;
}

.allQuizzes .quizNames .quizLinks:nth-child(odd):hover {
  border-radius: 10%;
  background-color: #00FF00;
}

.allQuizzes .quizNames .selectQuiz {
  /* border-radius: 10%; */
  text-align: center;
  background-color: #FFDD3C;
  /* font-weight: bold; */
  color: #14120e;
  font-size: 30px;
  padding: 20px 20px 20px 20px;
  /* box-sizing: border-box; */
  /* border-radius: 20%; */
}

.quizContainer {
  margin-top: 20px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Fira Sans', sans-serif;
}

.quizContainer h2 {
  text-align: center;
  color: #080807;
  font-weight: 120;
}

.quizContainer button {
  font-size: 14px;
  background-color: #e7ba82;
  border-radius: 12px;
  width: 10%;
  padding: 2px 5px 2px 5px;
  color: rgb(12, 5, 5);
  border: none;
  cursor: pointer;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.quizContainer button:hover {
  background-color: #8AEC9F;
}

.quizContainer button.submit {
  width: 30%;
  font-size: 14px;
  padding: 10px 10px 10px 10px;
  background-color: #e7ba82;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.quizContainer button.submit:hover {
  background-color: #8AEC9F;
}

.innerQuiz {
  background-color: #FFDD3C;
  width: 600px;
  max-width: 100vw;
  padding: 30px 50px 50px 40px;
  border-radius: 12%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.innerQuiz .questionSet {
  margin: 20px 0px 40px 0px;
}

.innerQuiz .questionSet .answers {
  font-weight: 300;
  margin: 5px 0px 5px 10px;
}
/*# sourceMappingURL=userquiz.css.map */